:root {
  --primary-color: #fff;
  --label-color: rgba(0, 0, 0, 0.5);
  --value-color: #333;
  --menu-corners: 5px;
}

.bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  bottom: 0;
  left: 50%;
  width: 500px;
  background-color: var(--primary-color);
  border-top-left-radius: var(--menu-corners);
  border-top-right-radius: var(--menu-corners);
  transform: translate(-50%, 0%);
  transition: transform 200ms ease;
  padding: 1vw 2vw 20px;

  @media screen and (max-width: 680px) {
    width: calc(100% - 16px);
    padding: 16px 20px 35px;
  }
}

.hidden {
  transform: translate(-50%, 100%);
}

:global(.mapboxgl-ctrl-bottom-left) {
  @media screen and (max-width: 680px) {
    left: 16px;
  }
}

:global(.mapboxgl-ctrl-bottom-right) {
  @media (min-width: 681px) and (max-width: 998px) {
    transform: rotate(-90deg);
    bottom: 130px;
    right: -116px;
  }
  @media screen and (max-width: 680px) {
    right: 11px;
  }
}
