:root {
  --primary-color: #fff;
  --label-color: rgba(0, 0, 0, 0.5);
  --value-color: #333;
  --menu-corners: 5px;
}

.bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  bottom: 0;
  left: 50%;
  width: 440px;
  background-color: var(--primary-color);
  border-top-left-radius: var(--menu-corners);
  border-top-right-radius: var(--menu-corners);
  transform: translate(-50%, 0%);
  transition: transform 200ms ease;
  padding: 1vw 2vw;
  /* 
  * touch-action: none;
  * pointer-events: none;
  */

  @media screen and (max-width: 680px) {
    width: calc(100% - 16px);
    padding: 3vw 4vw;
  }
}

.hidden {
  transform: translate(-50%, 100%);
}

.label {
  color: var(--label-color);
  font-size: 12px;
}

.value {
  font-size: 17px;
  color: var(--value-color);

  @media screen and (max-width: 680px) {
    font-size: 14px;
  }

  &.bus {
    font-size: 14px;
  }
}

.label,
.value {
  line-height: 1.3;
}

.row {
  display: flex;

  &:first-child {
    margin-bottom: 1.3vw;

    @media screen and (max-width: 680px) {
      margin-bottom: 2vw;
    }
  }

  &.bus {
    margin-bottom: 1.3vw;
  }

  &.stops .label {
    margin-bottom: 0.3vw;
  }
}

.routeId,
.lastSeen {
  width: 23%;
}

.routeName,
.destination {
  width: 77%;
}

.stopName {
  width: 30%;
  & .value {
    font-size: 14px;
  }
}

.arrivals {
  width: 70%;
}

.line {
  width: 10%;
  padding-left: 2px;
}

.lineDescr {
  width: 78%;
  padding: 0 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.arrivalTime {
  width: 12%;
}

.arrivalsTable {
  max-height: 100px;
  overflow: scroll;
}

:global(.mapboxgl-ctrl--with-bottom-bar) {
  @media screen and (max-width: 680px) {
    transform: translateY(-110px);
  }
}

:global(.mapboxgl-ctrl-bottom-left) {
  @media screen and (max-width: 680px) {
    left: 0;
  }
}
