:root {
  --primary-color: #fff;
  --label-color: rgba(0, 0, 0, 0.5);
  --value-color: #333;
  --menu-corners: 5px;
}

.bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  bottom: 0;
  left: 50%;
  width: 440px;
  background-color: var(--primary-color);
  border-top-left-radius: var(--menu-corners);
  border-top-right-radius: var(--menu-corners);
  transform: translate(-50%, 0%);
  transition: transform 200ms ease;
  padding: 1vw 2vw 20px;

  @media screen and (max-width: 680px) {
    width: calc(100% - 16px);
    padding: 3vw 4vw;
  }
}

.hidden {
  transform: translate(-50%, 100%);
}

.label {
  color: var(--label-color);
  font-size: 12px;
}

.value {
  font-size: 17px;
  color: var(--value-color);

  @media screen and (max-width: 680px) {
    font-size: 14px;
  }

  &.bus {
    font-size: 14px;
  }
}

.label {
  line-height: 1.3;
}

.row {
  display: flex;

  &:first-child:not(.stops) {
    margin-bottom: 1.3vw;

    @media screen and (max-width: 680px) {
      margin-bottom: 2vw;
    }
  }

  &.bus {
    margin-bottom: 1.3vw;
  }

  &.stops .label {
    margin-bottom: 0.3vw;
  }
}

.routeId,
.lastSeen {
  width: 23%;
}

.routeName,
.destination {
  width: 77%;
}

.stopName {
  width: 30%;
  & .value {
    font-size: 14px;
  }
}

.arrivals {
  width: 70%;
}

.line {
  width: 11%;
  padding-left: 2px;
}

.lineDescr {
  width: 77%;
  padding: 0 15px;
}

.arrivalTime {
  width: 12%;
  text-align: center;
}

.arrivalsTable {
  font-size: 14px;
  height: 100px;
  overflow-y: scroll;
  line-height: 1.3;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}

:global(.selected-bar-open-bus) {
  @media screen and (max-width: 680px) {
    transform: translateY(-110px);
  }
}

:global(.selected-bar-open-stop) {
  @media screen and (max-width: 680px) {
    transform: translateY(-145px);
  }
}

:global(.mapboxgl-ctrl-bottom-left) {
  @media screen and (max-width: 680px) {
    left: 0;
  }
}

:global(.mapboxgl-ctrl-bottom-right) {
  @media (min-width: 681px) and (max-width: 998px) {
    transform: rotate(-90deg);
    bottom: 130px;
    right: -116px;
  }
}
