:root {
  --label-color: rgba(0, 0, 0, 0.5);
  --value-color: #333;
}

.label {
  color: var(--label-color);
  line-height: 1.3;
  font-size: 12px;
}

.value {
  font-size: 17px;
  color: var(--value-color);

  @media screen and (max-width: 680px) {
    font-size: 14px;
  }

  &.bus {
    font-size: 14px;

    & .loading {
      margin: 0 5px;
      background: #eee;
      height: 14px;
    }
  }
}

.row {
  display: flex;

  &:first-child:not(.stops) {
    margin-bottom: 1.3vw;

    @media screen and (max-width: 680px) {
      margin-bottom: 2vw;
    }
  }

  &.bus {
    margin-bottom: 1.3vw;
  }

  &.stops .label {
    margin-bottom: 0.3vw;
  }
}

.routeId,
.lastSeen {
  width: 30%;
}

.routeName,
.destination {
  width: 70%;
}

.stopName {
  width: 25%;
  & .value {
    font-size: 14px;
    line-height: 1.3;
  }
}

.arrivals {
  width: 75%;
}

.line {
  width: 24%;
  padding-left: 2px;

  &.value {
    padding-left: 6px;
    font-size: 14px;
  }
}

.lineDescr {
  width: 58%;
  padding: 0 5px;
}

.arrivalTime {
  width: 18%;
  text-align: center;

  &.value {
    padding-left: 6px;
    font-size: 14px;
  }
}

.arrivalsTable {
  font-size: 14px;
  max-height: 100px;
  overflow-y: scroll;
  line-height: 1.3;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}
