:root {
  --primary-color: #fff;
  --label-color: rgba(0, 0, 0, 0.5);
  --info-color: #333;
  --menu-corners: 5px;
}

.bar {
  touch-action: none;
  pointer-events: none;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 400px;
  height: 64px;
  background-color: var(--primary-color);
  border-top-left-radius: var(--menu-corners);
  border-top-right-radius: var(--menu-corners);
  align-items: center;
  transform: translate(-50%, 0%);
  transition: transform 200ms ease;

  @media screen and (max-width: 680px) {
    width: calc(100% - 16px);
  }
}

.hidden {
  transform: translate(-50%, 100%);
}

.label {
  color: var(--label-color);
  font-size: 12px;
}

.info {
  font-size: 17px;
  color: var(--info-color);
}

.label,
.info {
  margin-left: 16px;
  line-height: 1.3;
}

.labelDestination,
.infoDestination {
  margin-left: 24px;
}

:global(.mapboxgl-ctrl--with-bottom-bar) {
  @media screen and (max-width: 680px) {
    transform: translateY(-65px);
  }
}

:global(.mapboxgl-ctrl-bottom-left) {
  @media screen and (max-width: 680px) {
    left: 0;
  }
}
