:root {
  --primary-color: #fff;
  --label-color: rgba(0, 0, 0, 0.5);
  --info-color: #333;
  --menu-corners: 5px;
}

.bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  bottom: 0;
  left: 50%;
  width: 440px;
  background-color: var(--primary-color);
  border-top-left-radius: var(--menu-corners);
  border-top-right-radius: var(--menu-corners);
  transform: translate(-50%, 0%);
  transition: transform 200ms ease;
  padding: 1vw 2vw;
  touch-action: none;
  pointer-events: none;

  @media screen and (max-width: 680px) {
    width: calc(100% - 16px);
    padding: 3vw 4vw;
  }
}

.hidden {
  transform: translate(-50%, 100%);
}

.label {
  color: var(--label-color);
  font-size: 12px;
}

.info {
  font-size: 17px;
  color: var(--info-color);
}

.label,
.info {
  line-height: 1.3;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row {
  display: flex;
  &:first-child {
    margin-bottom: 1vw;

    @media screen and (max-width: 680px) {
      margin-bottom: 2vw;
    }
  }
}

.routeId,
.lastSeen {
  width: 23%;
}

.routeName,
.destination {
  width: 77%;
}

:global(.mapboxgl-ctrl--with-bottom-bar) {
  @media screen and (max-width: 680px) {
    transform: translateY(-65px);
  }
}

:global(.mapboxgl-ctrl-bottom-left) {
  @media screen and (max-width: 680px) {
    left: 0;
  }
}
